<nav class="w-80 bg-gray-100 flex flex-col" aria-label="side nav">
    <h2 class="text-blue-700 px-4 py-2 text-2xl uppercase font-bold font-sans">
        Design
    </h2>

    <ul class="flex flex-col">
        <select
            class="px-4 py-2 focus-within:bg-blue-800 focus-within:text-white transition-colors"
        >
            <option value="components">Components</option>
            <option value="design_system">Design System</option>
        </select>
        <li>
            <a
                class="block px-4 py-2 bg-gray-200 hover:bg-blue-800 hover:text-white transition-colors no-underline text-black"
                href="#">Button</a
            >
        </li>
        <li>
            <a
                class="block px-4 py-2 bg-gray-200 hover:bg-blue-800 hover:text-white transition-colors no-underline text-black"
                href="#">Accordion</a
            >
        </li>
        <li>
            <a
                class="block px-4 py-2 bg-gray-200 hover:bg-blue-800 hover:text-white transition-colors no-underline text-black"
                href="#">Input</a
            >
        </li>
        <li>
            <a
                class="block px-4 py-2 bg-gray-200 hover:bg-blue-800 hover:text-white transition-colors no-underline text-black"
                href="#">Radio</a
            >
        </li>
        <li>
            <a
                class="block px-4 py-2 bg-gray-200 hover:bg-blue-800 hover:text-white transition-colors no-underline text-black"
                href="#">Checkbox</a
            >
        </li>
    </ul>
</nav>
